/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

@import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";
// @import "../node_modules/bootstrap-css-only/css/bootstrap-grid.min.css";
@import "./mat_table.scss";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/iconfont/material-icons.css";


body{
    font-family: 'Source Sans Pro', sans-serif !important;
  }
html, body {  background-color:#fff;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {


  // background-image: url(assets/bg2.jpg), url(assets/bg1.png), url(assets/bg3.png);
  // background-attachment: fixed, fixed, fixed;
  // background-position: left top, left bottom, right top;
  // background-size: 25%, 15%, 10%;
  // background-repeat: no-repeat, no-repeat, no-repeat;


  background-image: url(assets/bg2.jpg), url(assets/bg3.png);
  background-attachment: fixed,  fixed;
  background-position: left top, right top;
  background-size: 25%, 10%;
  background-repeat: no-repeat,  no-repeat;

}

.blockMenuBg
{

    position: absolute;
    width: 329px;
    height: 100%;
    left: 0%;
    background-image: url(assets/backMenu1.png);
    //background-color: rgba(165, 42, 42, 0.212);
    background-attachment: fixed;
    background-position: left top;
    background-size: 14%;
    background-repeat: no-repeat;
    opacity: 0.5;

}
.HeaderPanddh
{
    height: 120px;
    border-radius: 0;
    width: 100vw;
    background-image: linear-gradient(to left,#006190, #00a4c7);
    // background-image: url(assets/backMenu1.png);
    //background-image: url(assets/backMenu1.png), linear-gradient(to left,#006190, #00a4c7);
    //background-attachment: fixed;
    //background-position: left top;
    //background-size: 15%;
    //background-repeat: no-repeat;
}
mat-dialog-container {
  padding: 0 !important;
}

.warn-snackbar {

  background-color: rgb(190, 136, 20) !important;
}

.green-snackbar{
  // color: rgb(65, 158, 86);
  background-color: rgb(65, 158, 86) !important;
  // padding: 0 5vw !important;
}

.alert-snackbar {
  background-color: rgb(184, 63, 63) !important;
}

mat-icon {
  font-size:  25px !important;
}

.mat-header-cell:last-child,
.mat-cell:last-child {
  width: 150px !important;
  padding-right: 15px !important;
}

// .mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
//   flex:85%;
// }


mat-icon {
  // margin-top: 4px !important;
  margin-bottom: 5px !important;
}

.MenuPandh
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  height: 40% !important;
  // background-color: #3393d0;
  color: #fff !important;
}

// .arrow {
//   border: solid #dadbd7;
//   border-width: 0px 6px 6px 0px;
//   display: inline-block;
//   padding: 3px;
// }
// .down {
//   transform: rotate(45deg);
//   -webkit-transform: rotate(45deg);
// }



.MenuPandhHome
{

  margin-top: 1.5%;
  height: 10% !important;
  // background-color: #aed6e2 !important;
  color: #fff !important;
  padding-left: 0 !important;
  padding-right:0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MenuPandh mat-list-item
{
  height: 40% !important;
}
.MenuPandh span
{
  color: #fff;

}

.mat-menu-content
{
  background-color: #eeefef !important;
  cursor: pointer !important;
}

.router-link-active[_ngcontent-irh-c3]
{
    background-color: #3396d0 !important;
}


.router-link-active[_ngcontent-irh-c3]
{
    background-color: #3396d0 !important;
}


.MenuPandh
{
  padding-left: 1% !important;
  padding-right: 1% !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  border-bottom: solid 6px #dadbd7;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid #dadbd7;
  position: relative;
    top: 36px;
    left: 41.8%;
}

.iconTr {
  height: 20px;
  width: 10px;
  margin-left: 6px;
  margin-bottom: 5px;
}

.MenuPandh:hover{
  // background-color: #c6e8f2 !important;
  span{
    color: black !important;
  }

  .mat-list-base .mat-list-item {
    font-size: 18px !important;
}

.MenuPandh .MenuPandhHome{
  height: 38px !important;margin-top: 12px;
}
}

.SousMenuPandh div.mat-list-item-content
{
  border-bottom: #fff solid 2px !important;
  border-top: #fff solid 1px !important;
}
.SousMenuPandh .mat-menu-content{
       padding-top: 0px  !important;
     padding-bottom: 0px  !important;
}

.SousMenuPandh .mat-menu-content span{
  color: #2b8cca !important;
}
.mat-header-row
{
  background-color: #8bd0e8 !important;
}
.host
{
  padding-top: 3%;
}
.mat-row:nth-child(even){
  background-color: #ebebeb !important;
}

.mat-row:nth-child(odd){
  background-color:#ffffff !important;
}


tbody>:nth-child(even){
  background-color: #ebebeb !important;

  }

  tbody>:nth-child(odd){
    background-color: #ffffff !important;

    }
// .tableFils:nth-child(even){
//   background-color: #ebebeb !important;
// }

// .tableFils:nth-child(odd){
//   background-color:#ffffff !important;
// }
