/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

@import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";
// @import "../node_modules/bootstrap-css-only/css/bootstrap-grid.min.css";
@import "./mat_table.scss";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/iconfont/material-icons.css";


body{
    font-family: 'Source Sans Pro', sans-serif !important;
  }
html, body { height: 100%; background-color:#fff;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
  background-image: url(assets/bg2.jpg), url(assets/bg1.jpg), url(assets/bg3.png);
  background-position: left top, left bottom, right top;
  background-size: 10%, 8%, 8%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

mat-dialog-container {
  padding: 0 !important;
}

.warn-snackbar {

  background-color: rgb(190, 136, 20) !important;
}

.green-snackbar{
  // color: rgb(65, 158, 86);
  background-color: rgb(65, 158, 86) !important;
  // padding: 0 5vw !important;
}

.alert-snackbar {
  background-color: rgb(184, 63, 63) !important;
}

mat-icon {
  font-size:  25px !important;
}

.mat-header-cell:last-child,
.mat-cell:last-child {
  width: 150px !important;
  padding-right: 15px !important;
}

// .mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
//   flex:85%;
// }


mat-icon {
  // margin-top: 4px !important;
  margin-bottom: 5px !important;
}

.MenuPandh
{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  height: 40% !important;
  background-color: #3393d0;
  color: #fff !important;
}

.MenuPandh mat-list-item
{
  height: 40% !important;
}
.MenuPandh span
{
  color: #fff;

}

.mat-menu-content
{
  background-color: #c6e8f2 !important;
  cursor: pointer !important;
}

.router-link-active[_ngcontent-irh-c3]
{
    background-color: #3396d0 !important;
}
