section {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

::ng-deep h3 {
  margin: 0 !important;
}

.host {
  margin: 1em !important;
}

.inputs2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  // justify-content: space-around;
  // flex-wrap: wrap;
  margin: 15px;
  align-items: center;
  // mat-form-field {
  //   width: 100%;
  // }
}

form {
  padding: 20px;
}

.expension {
  margin: 20px 0;
}

.rightC {
  // margin: 0 20px 20px;
  display: flex;
  // flex-direction: ;
  justify-content: space-between;
  align-items: center;
}

mat-panel-title {
  display: flex;
  align-items: center;
  p {
    margin: 0 0 0 10px;
  }

  mat-icon {
    margin-top: 5px;
  }
}

.right {
  margin: 0 20px 20px;
}
.mt-3, .my-3 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.rowTermine
{
  background-color: #7dc460 !important;
}
.rowNonTermine
{
  // background-color: #db0707 !important;
  background-color: #d6000047 !important;


}
.rowEncours
{
  background-color: #d17c36a6 !important;

}
.rowContinue
{
  background-color: #1476de87 !important;

}
.titleGrapheMesure
{
  color: white;
  font-size: 1.2em;
  background-color: #a19b9e;
  padding: 2% 10px 2% 10px;
}
.countTotal
{
  margin-left: 16px;
  padding-bottom: 6px;
  letter-spacing: 1px;
  color: #00709c;
  text-shadow: 1px 1px 1px #0080a9;
}
