
<div class="host" style="margin-top: 5%;">
  <div class="d-flex justify-content-center w-100 mb-5">
    <section class="super-title2">
      <div>
        <img src="assets/grand_titre.png" style="width: 100%; margin-top: 2%;">
      </div>
    </section>
  </div>

  <div class="d-flex justify-content-center w-100 mb-5">
    <section class="super-title2">
      <div>
        <img src="assets/g3.jpg" style="width: 33%;">
        <img src="assets/g2.jpg" style="width: 33%;">
        <img src="assets/g1.jpg" style="width: 33%;">

      </div>
    </section>
  </div>


  <div class="d-flex justify-content-center w-100 mb-5" >
    <section [className]="'super-title border-left'">
      <div class="row">

        <div class="col-md-12" style="text-align: right;">
        <img src="assets/t1.jpg" style="width: 33%;">
      </div>
      </div>
      <div class="row">

      <div class="col-md-12" style="text-align: right;">
        <img src="assets/g4.jpg" style="width: 100%;">
      </div>
      </div>
      </section>
  </div>

  <div class="d-flex justify-content-center w-100 mb-5" >
    <section [className]="'super-title border-left'">
      <div class="row">

        <div class="col-md-12" style="text-align: right;">
        <img src="assets/t2.jpg" style="width: 33%;">
      </div>
      </div>
      <div class="row">

      <div class="col-md-12" style="text-align: right;">
        <img src="assets/t3.jpg" style="width: 20%;">
      </div>
      </div>
      </section>
  </div>



</div>
