<div class="host" style="margin-top: 5%;">
  <div class="d-flex justify-content-center w-100 mb-5">
    <section class="super-title2">
      <div>
        <img src="assets/grand_titre.png" style="width: 100%; margin-top: 2%;">
      </div>
    </section>
  </div>

  <div class="d-flex justify-content-center w-100 mb-5">
    <section class="super-title2">
      <div>
        <img src="assets/g3.png" style="width: 33%;">
        <img src="assets/g2.png" style="width: 33%;">
        <img src="assets/g1.png" style="width: 33%;">

      </div>
    </section>
  </div>


  <div class="d-flex justify-content-center w-100 mb-5">
    <section>
      <div class="row" style="margin-bottom: 3%;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/t1.jpg" style="width: 45%;">
        </div>
      </div>
      <div class="row">

        <div class="col-md-3" style="text-align: center;" >
          <img src="assets/g5DD2.png" style="width: 100%;">
          <h2 class="CompteurGraphe">{{ countG4 }}%</h2>
        </div>

        <div class="col-md-3" style="text-align: center;margin-right: -3%;" >
          <img src="assets/g5CC.png" style="width: 100%;margin-right: 2%;">
          <h2 class="CompteurGraphe">{{ countG3 }}%</h2>
        </div>

        <div class="col-md-3" style="text-align: center;" >
          <img src="assets/g5BB.png" style="width: 100%;">
          <h2 class="CompteurGraphe">{{ countG2 }}%</h2>
        </div>

        <div class="col-md-3" style="text-align: center;" >
          <img src="assets/g5AA.png" style="width: 100%;">
          <h2 class="CompteurGraphe">{{ countG1 }}%</h2>
        </div>
        <!-- <div class="col-md-12" style="text-align: right;margin-bottom: -7%;
      margin-top: 2%;">
          <img src="assets/g5.png" style="width: 100%;">
          <h2 class="nb1">{{ countG1 }}%</h2>
          <h2 class="nb2">{{ countG2 }}%</h2>
          <h2 class="nb3">{{ countG3 }}%</h2>
          <h2 class="nb4">{{ countG4 }}%</h2>
        </div> -->

      </div>
    </section>
  </div>


  <div class="">
    <section>
      <div class="">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/t2.jpg" style="width: 45%;">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject1"></app-bar>
        </div>
      </div>

      <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject2"></app-bar>
        </div>
      </div>

      <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject3"></app-bar>
        </div>
      </div>

      <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject4"></app-bar>
        </div>
      </div>

      <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject5"></app-bar>
        </div>
      </div>

      <div class="col-md-12" style="text-align: right;">

        <div class="col-md-12" style="text-align: right;">
          <img src="assets/ta.png" style="width: 30%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubject6"></app-bar>
        </div>
      </div>

      </div>



      <!-- <div class="row justify-content-center">
        <div class="col-md-12" style="text-align: right;">
          <img src="assets/tb.png" style="width: 20%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubjectB"></app-bar>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12" style="text-align: right;">
          <img src="assets/tc.png" style="width: 20%;">
        </div>

        <div class="col-md-12" style="text-align: right;">
          <app-bar [col]="12" [height]="'60vh'" [dataSubject]="departementSubjectC"></app-bar>
        </div>

      </div> -->
    </section>
  </div>



</div>
