p {
  font-family: Lato;
}
.pie-title
{
  color: #105886 ;
    margin: 5px 0 10px 5px;
    border-top: 4px solid #105886;
    padding-top: 5px;
    text-align: center;
}

.CountMesures
{
    position: relative;
    top: -245px;
    text-align: center;
}
.CountMesures h5{
  font-weight: bold;
  color: #105886;
}
